<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
          <link rel="stylesheet" href="../stylesheets/cart.css">
          <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
          <div id="main">
                    <div class="left">
                              <a href=""><i class="ri-arrow-left-s-line"></i> Back to Store</a>
                              <h1>Food Cart</h1>

                              <div class="box">
                                        <div class="ctrg">
                                                  <h4>Item</h4>
                                                  <div class="side">
                                                           <div class="sec">
                                                            <h4>Size</h4>
                                                           </div> 
                                                           <div class="sec">
                                                            <h4>Quantity</h4>
                                                           </div> 
                                                           <div class="sec">
                                                            <h4>Price</h4>
                                                           </div> 
                                                           
                                                  </div>
                                        </div>
                                        <div class="item">
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                                  <div class="itm">

                                                            <div class="lside">
                                                                      <img src="https://d1ralsognjng37.cloudfront.net/dabce491-3bfd-4e0f-9c00-dafca1a6d2fc.jpeg" alt="">
                                                                      <h2>Burger</h2>
          
                                                            </div>
                                                            <div class="side">
                                                                      <div class="sec">small</div>
                                                                      <div class="sec"><i class="ri-indeterminate-circle-line"></i> <h3>1</h3> <i class="ri-add-circle-line"></i></div>
                                                                      <div class="sec">$23</div>
                                                            </div>
                                                  </div>
                                        </div>
                              </div>
                    </div>
                    <div class="right">
                              <h1>Summary</h1>
                              <div class="calc">
                                        <div class="cats"><h2>Subtotal</h2> <h2>$252.00</h2></div>
                                        <div class="cats"><h2>Shiping</h2> <h2>$00.00</h2></div>
                                        <div class="cats"><h2>Tax</h2> <h2>$252.00</h2></div>
                              </div>
                              <div class="total">
                                        <div class="cats"><h2>Total</h2> <h2>$252.00</h2></div>
                                        <form action="/checkout" method="GEt">

                                                  <button>Checkout</button>
                                        </form>
                              </div>
                    </div>
          </div>
</body>

</html>