<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/checkout.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="main">
      <div class="left">
        <a href="/cart"><i class="ri-arrow-left-s-line"></i> Back to Store</a>

        <h4>
          Checkout <br />
          <div class="l"></div>
        </h4>
      </div>
      <div class="center">
        <h1 class="txtanim">
          Hi <span id="currentuser" ><%= founduser.name %> </span> , Where would you like your <br />
          <span class="txtanim">order to sent ?</span>
        </h1>
        <form action="" method="post">
          <select class="txtanim" name="" id="">
            <option value="">Meet me at door</option>
            <option value="">Meet outside</option>
            <option value="">Leave at door</option>
          </select>
          <br />
          <input
            id="email"
            class="txtanim"
            type="text"
            name="email"
            placeholder="Email"
          />
          <input
            class="txtanim"
            type="text"
            name="address"
            placeholder="Address"
          />
          <div class="do txtanim">
            <input type="text" name="city" placeholder="City" />
            <input
              type="text"
              name="state"
              placeholder="State"
            />
          </div>
          <input
            class="txtanim"
            type="text"
            name="instruction"
            placeholder="Add Delivery Instruction"
          />
          <div class="do txtanim">
            <input type="text" 
            name="address" 
            placeholder="Pincode" 
            />
            <input
              id="phnNum"
              type="tel"
              name="number"
              placeholder="Phone Number"
            />
          </div>
        </form>
      </div>
      <div class="right">
        <h1 class="txtanim2">Summary</h1>
            <div class="calc">
                <div class="cats txtanim2">
                    <h2>Subtotal</h2>
                    <h2>$<%= subtotal %>.00</h2>
                </div>
                <div class="cats txtanim2">
                    <h2>Shipping</h2>
                    <% if(founduser.cart.length > 0){ %>
                        <h2>$05.00</h2>
                    <% }else{ %>
                        <h2>$00.00</h2>
                    <% } %>
                </div>
                <div class="cats txtanim2">
                    <h2>Tax</h2>
                    <% if(founduser.cart.length > 0){ %>
                        <h2>$15.00</h2>
                    <% }else{ %>
                        <h2>$00.00</h2>
                    <% } %>
                </div>
            </div>
            <div class="total">
                <div class="cats txtanim2">
                    <h2>Total</h2>
                    <% if(founduser.cart.length > 0){ %>
                        <h2>$ <span id="finalAmt" ><%= subtotal + 20 %></span>.00</h2>
                    <% }else{ %>
                        <h2>$00.00</h2>
                    <% } %>
                </div>
          <form action="/Thankyou" method="GEt">
          <button id="rzp-button1">
            <h3>Place Order</h3>
            <img id="img" src="../images/motorcycle.png" alt="" />
          </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      gsap.from(".txtanim", {
        stagger: 0.2,
        duration: 0.4,
        y: 100,
        opacity: 0,
      });
      document
        .querySelector(".total button")
        .addEventListener("mouseenter", function (e) {
          var tl = gsap.timeline();
          tl
            // .fromTo("#img", {opacity: 0, left:'-10%',duration: 0.00005}, {opacity: 1, left:'50%'});
            // .to('#img',{opacity: 0, left:'-10%',duration: 0.00005})
            .to("#img", { opacity: 1, left: "50%" });
          document.querySelector(".total button h3").style.opacity = "0";
        });
      document
        .querySelector(".total button")
        .addEventListener("mouseleave", function (e) {
          var tl = gsap
            .timeline()
            .to("#img", { left: "101%"})
            .to("#img", { opacity: 0, duration: 0.000000005 })
            .to(".total button h3", { opacity: 1 })
            .to("#img", { left: "-3%", duration: 0.00005 });

          // document.querySelector('#img').style.left= `-10%`;
        });

        function openCheckout() {
        var finalAmt = document.getElementById("finalAmt").textContent;
        var currentuser = document.getElementById("currentuser").textContent;
        var orderId;
        $(document).ready(function () {
          var settings = {
            url: "/create/orderId",
            method: "POST",
            timeout: 0,
            headers: {
              "Content-Type": "application/json",
            },
            data: JSON.stringify({
              amount: finalAmt,
            }),
          };

          //creates new orderId everytime
          $.ajax(settings).done(function (response) {
            orderId = response.orderId;
            console.log(orderId);
            $("#rzp-button1").show();
          });
        });
        document.getElementById("rzp-button1").onclick = function (e) {
          var options = {
            key: "rzp_test_IiBBE2SNfjNWi6", // Enter the Key ID generated from the Dashboard
            amount: finalAmt, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "KiKi's Kitchen",
            description: "Test Transaction",
            image: "https://cdn.dribbble.com/users/378783/screenshots/3131251/untitled-1.jpg",
            order_id: orderId.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: function (response) {
              var settings = {
                url: "/api/payment/verify",
                method: "POST",
                timeout: 0,
                headers: {
                  "Content-Type": "application/json",
                },
                data: JSON.stringify({ response }),
              };
              // $.ajax(settings).done(function (response) {
              //   console.log(response);
              //   // response.redirect("/thankyou");
              // });
            },
            prefill: {
              name:currentuser,
              email: document.getElementById("email").value,
              contact: document.getElementById("phnNum").value,
            },

            notes: {
              address: "KiKi Kitchen",
            },
            theme: {
              color: "#000",
            },
          };
          var rzp1 = new Razorpay(options);
          rzp1.on("payment.failed", function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
          });
          rzp1.open();
          e.preventDefault();
        };
      }
      openCheckout();
    </script>
  </body>
</html>
