<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
          <link rel="stylesheet" href="../stylesheets/checkout.css">
          <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
          <div id="main">
                    <div class="left">
                              <a href=""><i class="ri-arrow-left-s-line"></i> Back to Store</a>
                              
                              <h4>Checkout</h4>
                    </div>
                    <div class="center">
                              <h1>Where would you like your <br> order sent</h1>
                              <form action="" method="post">
                                        <input type="text" name="address" placeholder="Address">
                                        <div class="do"><input type="text" name="city" placeholder="City"><input type="text" name="address" placeholder="address"></div>
                                        <input type="text" name="address" placeholder="address">
                                        <div class="do"><input type="text" name="address" placeholder="address"><input type="text" name="address" placeholder="address"></div>
                                        <input type="text" name="address" placeholder="address">
                              </form>
                    </div>
          </div>
</body>
</html>