<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://www.griffininsight.com/css/animate.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/lcm.css">
  <title>Document</title>
</head>

<body>
  <div class="main">
    <div id="box1">

      <div id="left">
        <nav>
          <div id="lf">
            <span><img src="https://cdn.dribbble.com/users/378783/screenshots/3131251/untitled-1.jpg" alt=""></span>
            <h2>KIKI'<span2>s</span2>
            </h2>

          </div>
          <div id="rg">
            <a href="">
              <h2>Menu</h2>
            </a>
            <a href="/res">
              <h2>Add restaurant</h2>
            </a>
            <h2 id="sign">Sign ln</h2>
          </div>
        </nav>
        <div id="text">
          <h1 class="fadeUp">FOOD</h1>
          <h1 class="fadeUp">RESTAURANT</h1>
          <h2 class="fadeUp"> Just list down all the items your Chef can cook for your restaurant, and you’re good to
            go.</h2>
          <div class="fadeUp" id="order">
            <h4>ORDER NOW</h4>
          </div>
        </div>

      </div>
      <div id="right">
        <div id="rec1"></div>
        <div id="rec2">
          <img
            src="https://images.unsplash.com/photo-1569718212165-3a8278d5f624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80"
            alt="">

        </div>
        <div id="rec3">
          <img
            src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="">
        </div>
        <div id="rec4"></div>
        <div id="rec5"></div>

      </div>
      <div id="log">
        <div id="log1">
          <svg id="cross" class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
              fill="rgba(157,152,152,1)" />
          </svg>
          <h1>Login</h1>
          <h2>or <span id="span1">create an account</span></h2>
          <div id="line"></div>
          <div id="cir">
            <div id="circ">
              <img
                src="https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                alt="">
            </div>
          </div>
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <button id="login">
              <h3>LOGIN</h3>
            </button>
            <div class="google"><a href="/google/auth">
                <div class="googli"><img src="../images/google.png" alt="">
                  <h4>Continue with Google</h4>
                </div>
              </a></div>
          </form>
          <h5>By clicking on Login, I accept the Terms & Conditions & <br> Privacy Policy</h5>

        </div>
        <div id="log2">
          <svg id="cross2" class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
              fill="rgba(157,152,152,1)" />
          </svg>
          <h1>Sign up</h1>
          <h2>or <span id="span2">Login to your account</span></h2>
          <div id="line2"></div>
          <div id="cir2">
            <div id="circ2">
              <img
                src="https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                alt="">
            </div>
          </div>
          <form action="/register" method="post">
            <!-- <input type="tel" name="number" placeholder="Phone number" pattern="[0-9]{10}" required> -->
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="username" placeholder="Email or UserName" required>
            <input type="password" name="password" placeholder="Password" required>

            <button id="continue" type="submit">
              <h3>CONTINUE</h3>
            </button>
          </form>
          <h5>By clicking on Login, I accept the Terms & Conditions & <br> Privacy Policy</h5>
        </div>

      </div>
    </div>


  </div>


  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
    integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../javascripts/script.js"></script>
</body>

</html>