<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://www.griffininsight.com/css/animate.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
          <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&amp;display=swap'>
          <link rel='stylesheet' href='https://cdn.rawgit.com/noppa/text-security/master/dist/text-security.css'><link rel="stylesheet" href="./style.css">
          
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/lcm.css">
  <title>Document</title>
</head>

<body>
  <div class="main">
    <div id="box1">

      <div id="left">
        <nav>
          <div id="lf">
            <span><img src="https://cdn.dribbble.com/users/378783/screenshots/3131251/untitled-1.jpg" alt=""></span>
            <h2>KIKI'<span2>s</span2>
            </h2>

          </div>
          <div id="rg">
            <a href="">
              <h2>Menu</h2>
            </a>
            <a href="/res">
              <h2>Add restaurant</h2>
            </a>
            <h2 id="sign">Sign ln</h2>
          </div>
        </nav>
        <div id="text">
          <h1 class="fadeUp">FOOD</h1>
          <h1 class="fadeUp">RESTAURANT</h1>
          <h2 class="fadeUp"> Just list down all the items your Chef can cook for your restaurant, and you’re good to
            go.</h2>
          <div class="fadeUp" id="order">
            <h4>ORDER NOW</h4>
          </div>
        </div>

      </div>
      <div id="right">
        <div id="rec1"></div>
        <div id="rec2">
          <img
            src="https://images.unsplash.com/photo-1569718212165-3a8278d5f624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80"
            alt="">

        </div>
        <div id="rec3">
          <img
            src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="">
        </div>
        <div id="rec4"></div>
        <div id="rec5"></div>

      </div>
      <div id="log">
        <div id="log1">
          <svg id="cross" class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
              fill="rgba(157,152,152,1)" />
          </svg>
          <h1>Login</h1>
          <h2>or <span id="span1">create an account</span></h2>
          <div id="line"></div>
          <div id="cir">
            <div id="circ">
              <img
                src="https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                alt="">
            </div>
          </div>
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="Email" required>
            <div class="psswd">

              <div class="password">
                        <div class="monkey-hands">
                          <svg>
                            <use xlink:href="#monkey-hands" />
                          </svg>
                        </div>
                        <div class="monkey">
                          <svg>
                            <use xlink:href="#monkey" />
                          </svg>
                        </div>
                        <div class="password-wrapper">
                          <input type="text" class="password-input" name="password" placeholder="Password" required  spellcheck="false" maxlength="20" />
                          <span class="password-text"></span>
                          <span class="password-dots"></span>
                        </div>
                      </div>  
                        
                      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 64 64" id="monkey-hands">
                          <path fill="#89664C" d="M9.4,32.5L2.1,61.9H14c-1.6-7.7,4-21,4-21L9.4,32.5z"/><path fill="#FFD6BB" d="M15.8,24.8c0,0,4.9-4.5,9.5-3.9c2.3,0.3-7.1,7.6-7.1,7.6s9.7-8.2,11.7-5.6c1.8,2.3-8.9,9.8-8.9,9.8
                                s10-8.1,9.6-4.6c-0.3,3.8-7.9,12.8-12.5,13.8C11.5,43.2,6.3,39,9.8,24.4C11.6,17,13.3,25.2,15.8,24.8"/><path fill="#89664C" d="M54.8,32.5l7.3,29.4H50.2c1.6-7.7-4-21-4-21L54.8,32.5z"/><path fill="#FFD6BB" d="M48.4,24.8c0,0-4.9-4.5-9.5-3.9c-2.3,0.3,7.1,7.6,7.1,7.6s-9.7-8.2-11.7-5.6c-1.8,2.3,8.9,9.8,8.9,9.8
                                s-10-8.1-9.7-4.6c0.4,3.8,8,12.8,12.6,13.8c6.6,1.3,11.8-2.9,8.3-17.5C52.6,17,50.9,25.2,48.4,24.8"/>
                        </symbol>
                        <symbol xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 64 64" id="monkey">
                          <ellipse cx="53.7" cy="33" rx="8.3" ry="8.2" fill="#89664c"/><ellipse cx="53.7" cy="33" rx="5.4" ry="5.4" fill="#ffc5d3"/><ellipse cx="10.2" cy="33" rx="8.2" ry="8.2" fill="#89664c"/><ellipse cx="10.2" cy="33" rx="5.4" ry="5.4" fill="#ffc5d3"/><g fill="#89664c"><path d="m43.4 10.8c1.1-.6 1.9-.9 1.9-.9-3.2-1.1-6-1.8-8.5-2.1 1.3-1 2.1-1.3 2.1-1.3-20.4-2.9-30.1 9-30.1 19.5h46.4c-.7-7.4-4.8-12.4-11.8-15.2"/><path d="m55.3 27.6c0-9.7-10.4-17.6-23.3-17.6s-23.3 7.9-23.3 17.6c0 2.3.6 4.4 1.6 6.4-1 2-1.6 4.2-1.6 6.4 0 9.7 10.4 17.6 23.3 17.6s23.3-7.9 23.3-17.6c0-2.3-.6-4.4-1.6-6.4 1-2 1.6-4.2 1.6-6.4"/></g><path d="m52 28.2c0-16.9-20-6.1-20-6.1s-20-10.8-20 6.1c0 4.7 2.9 9 7.5 11.7-1.3 1.7-2.1 3.6-2.1 5.7 0 6.1 6.6 11 14.7 11s14.7-4.9 14.7-11c0-2.1-.8-4-2.1-5.7 4.4-2.7 7.3-7 7.3-11.7" fill="#e0ac7e"/><g fill="#3b302a"><path d="m35.1 38.7c0 1.1-.4 2.1-1 2.1-.6 0-1-.9-1-2.1 0-1.1.4-2.1 1-2.1.6.1 1 1 1 2.1"/><path d="m30.9 38.7c0 1.1-.4 2.1-1 2.1-.6 0-1-.9-1-2.1 0-1.1.4-2.1 1-2.1.5.1 1 1 1 2.1"/><ellipse cx="40.7" cy="31.7" rx="3.5" ry="4.5"/><ellipse cx="23.3" cy="31.7" rx="3.5" ry="4.5"/></g>
                        </symbol>
                      </svg>  
                          
            </div>

            <button id="login">
              <h3>LOGIN</h3>
            </button>
            <a href="/forgot">
              <div id="forgot">Forgot Password</div>
            </a>
            <div class="google"><a href="/google/auth">
                <div class="googli"><img src="../images/google.png" alt="">
                  <h4>Continue with Google</h4>
                </div>
              </a></div>
          </form>
          <h5>By clicking on Login, I accept the Terms & Conditions & <br> Privacy Policy</h5>

        </div>
        <div id="log2">
          <svg id="cross2" class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
              fill="rgba(157,152,152,1)" />
          </svg>
          <h1>Sign up</h1>
          <h2>or <span id="span2">Login to your account</span></h2>
          <div id="line2"></div>
          <div id="cir2">
            <div id="circ2">
              <img
                src="https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                alt="">
            </div>
          </div>
          <form action="/register" method="post">
            <!-- <input type="tel" name="number" placeholder="Phone number" pattern="[0-9]{10}" required> -->
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="username" placeholder="Email or UserName" required>
            <input type="password" name="password" placeholder="Password" required>

            <button id="continue" type="submit">
              <h3>CONTINUE</h3>
            </button>
          </form>
          <h5>By clicking on Login, I accept the Terms & Conditions & <br> Privacy Policy</h5>
        </div>

      </div>
    </div>


  </div>


  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script src='https://www.cssscript.com/demo/split-text-string-individual-characters-charming-js/index.js'></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
    integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../javascripts/script.js"></script>
</body>

</html>