<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/res.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div id="box1">
            <div id="trans">
                     <nav>
                        <a href="/"><h3>KiKi' <span>s</span></h3></a>
                      
                     </nav>
                     <div id="text">
                        <h1>
                            Register your restaurant on Kiki .</h1>
                            <p>Uber’s global platform gives you the flexibility, visibility and customer insights you need to connect with more customers. Partner with us today.</p>
                       
                     </div>
                     <div id="det"> 
                            <h2>Get Started</h2>
                            <form action="">
                                <input type="text" placeholder="store name">
                                <input type="text" placeholder="store name">
                                <input type="text" placeholder="floor / Suite (Optional)">
                                <input type="text" placeholder="First name">
                                <input type="text" placeholder="Last name">
                                <input type="text" placeholder="email">
                                <h5>By clicking "Submit," you agree to Kiki's Eats General Terms and Conditions and acknowledge you have read the Privacy Policy.</h5>
                                <input type="submit">
                            </form>
                  
                     </div>
            </div>
            <div id="img1"><img src="https://images.unsplash.com/photo-1469234496837-d0101f54be3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1836&q=80" alt=""></div>
       
        </div>
    </div>
</body>
</html>