<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/theres.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">
          <img
            style="height: 8vh"
            src="https://cdn.dribbble.com/users/378783/screenshots/3131251/untitled-1.jpg"
            alt=""
          />
          <h1 style="color: orange">KiKi</h1>
        </a>
      </nav>

      <a href="">
        <div class="product-card card">
          <a class="close"><img src="https://img.icons8.com/material-rounded/24/fff/delete-sign.png"/></a>

          <div class="product-header">
            <img
              class="product-picture"
              src="https://assets.gqindia.com/photos/62a9d4653e8cdc9b632eb2ad/master/pass/10%20restaurants%20in%20Mumbai%20that%20offer%20the%20best%20sunset%20views.jpg"
            />
          </div>
          <div class="card-details">
            <h3 class="product-name">Cristiano</h3>
            <p class="stars">Created In:</p>
            <div class="bottom-row">
              <p class="price">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                earum culpa vero nulla assumenda sint ea
              </p>
            </div>
            <button class="add-cart">Show More</button>
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
