<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/uploadfood.css">
    <title>Document</title>
</head>

<body>
    
 <div id="main">
    <nav>
        <div id="lef">
            <a href="/">
              
                <h1 style="color:orange ;">KiKi</h1>
            </a>
        </div>
        <div id="righ">
            <a href="/">HOME</a> 
            <a href="/order">ORDER</a>
            <a href="/cart">CART</a>
            <a href="/logout">LOGOUT</a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                    d="M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976zM12 11a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm-4.473 5h8.946a4.5 4.5 0 0 0-8.946 0z"
                    fill="rgba(255,255,255,1)" />
            </svg>

        </div>
    </nav>
   
      <div id="left">
           <form action="/addfood" enctype="multipart/form-data" method="post">
            <input type="text" placeholder="Food Name" name="foodName">
            <input type="text" placeholder="Food Price" name="foodPrice">
            <input type="text" placeholder="Food Time" name="foodTime">
            <input type="text" placeholder="VeG / Non-VeG" name="foodType">
            <input type="file" placeholder="image" name="foodImage">
            <input type="submit">
           </form>
      </div>
      <div id="box1">
        <img src="https://images.unsplash.com/photo-1512668033346-09cfb0d8597b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="">
      </div>
 </div>

</body>
</html>