*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  @font-face {
    font-family: Didact Gothic;
    src: url(../fonts/didact-gothic/didactgothic-regular.otf);
  }
  html,body{
    height: 100%; 
    width: 100%;
  }
  *::-webkit-scrollbar{
    display: none;
  }
  #main{
    /* height: 100%; */
    width: 100%;
  }
#box1{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(32, 30, 30);
}
#img1{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
}
#img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
nav{
    position: absolute;
    height: 10vh;
    top: 0%;
    width: 100%;
    z-index: 2;
    display: flex;
}
#left{
    height: 100%;
    width: 50%;
}
#left h1{
    font-size: 2vw;
    font-family:Didact Gothic;
    color: rgb(255, 255, 255);
}
#right{
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
#right a{
    text-decoration: none;
    color: white;
    font-family: okra light;
    margin-left:6%;
}
#right svg{
    margin-left: 4%;
}
#text{
    height: 40%;
    width: 40%;
    margin-left: 10%;
    margin-top: 17%;
}
#text h1{
    margin-top: 2%;
    font-size: 4.2vw;
    color: whitesmoke;
    font-family: bebas neue;

    animation-name: neon 5s infinite;
    font-weight: 100;
    
}
@keyframes neon {
    0%, 39%, 41%,59%, 61%, 100% {
        text-shadow: 
        white 0 0 12px,
        #ff3add 0 0 24px,
        #ff3add 0 0 36px,;
    }
    40%,60% {
        text-shadow: none;
    }
}
#text p{
    font-weight: 100;
    color: rgb(216, 215, 215);
    font-family: Didact Gothic;

}

#det{
    position: absolute;
    right: 2%;
    top: 9%;
    height: 90%;
    width: 40%;
    background: rgba(65, 65, 65, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
}
#det form{
    margin-top: 4%;
    margin-left: 4%;

}
#det h2{
    margin-top: 8%;
    margin-left: 12%;
    font-family: gilroy;
    font-weight: 200;
    color: rgb(197, 197, 197);
}
#det input::placeholder{
    color: rgb(144, 144, 144);
    font-family: Didact Gothic;
}
#det input{
    margin-left: 8%;
    padding-left: 3%;
    margin-top: 1%;
    color: rgb(197, 197, 197);;
    height: 7vh;
    width: 30vw;
    background-color: rgba(44, 44, 44, 0.462);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 1.1vw;
    
}
#det input:nth-child(4){
    margin-top: 7%;
    width: 14.5vw;
}
#det input:nth-child(5){
    width: 14.5vw;
    margin-left: 1.5%;
}
#det h5{
    font-family: gilroy;
    color: rgb(197, 197, 197);
    font-size: 0.8vw;
    font-weight: 100;
    padding: 30px 50px;
}
#det input:nth-child(8){
    color: rgb(255, 255, 255);
    
    background-color: orange;
}


nav h1{
    color: white;
    font-family: fantasy;
    margin-left: 20%;
    margin-top: 1%;
    font-size: 2vw;
}
nav h1 span{
    font-family: cataline script;
}
nav h2{
    color: white;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 55%;
    margin-top: -2.5%;
    font-weight: 100;
}
nav button{
   height: 35px;
   width: 60px;
   background-color: transparent;
   border: 1px solid white;
   border-radius: 12%;
   color: white;
  
   position: absolute;
   left: 64%;
   top: 40%;
   background-color: rgb(0, 0, 0);
}
nav button:nth-child(1){
    height: 35px;
    width: 90px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12%;
    color: white;
   
    position: absolute;
    left: 74%;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.329);
 }
 #trans{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 11111111;
    background-color: rgba(0, 0, 0, 0.763);
 }
#box2{
    /* height: 100vh; */
    width: 100vw;
    background-color: rgb(249, 247, 247);
}
#box2 h1{
    padding-top: 120px;
    margin-left: 30%;
    font-size: 38px;
    color: rgb(54, 54, 54);
    font-weight: 600;
    font-family: Okra Light;
    
}
#box2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    font-size: 23px;
    color: rgb(107, 106, 106);
    font-weight: 200;
    font-family: Okra Light;
    
}
#box2 span{
    display: flex;
    justify-content: center;
    align-items: center;
 
    font-size: 23px;
    color: rgb(107, 106, 106);
    font-weight: 200;
    font-family: Okra Light;
    
    
}
#why{
    margin-top: 3%;
    position: relative;
    height: 30vh;
    width: 100%;
    /* background-color: rgb(32, 30, 30); */
}
.why1{
    position: absolute;
    height: 15vh;
    width: 18vw;
    background-color: white;
    margin-left: 19.3%;
    margin-top: 3%;

}
.why1 img{
    margin-top: 14%;
    margin-left: 13%;
}
.why1 h4{
    position: absolute;
    top: 25%;
    font-size: 1.5vw;
    left: 40%;
    font-family: okra light ;
    color: rgb(69, 105, 247);
}
.why1 h5{
    position: absolute;
    top: 55%;
    font-size: 1vw;
    left: 40%;
    font-family: okra light ;
    color: gray;
}
/* 7974327108 */

.why2{
    position: absolute;
    left: 22%;
    height: 15vh;
    width: 18vw;
    background-color: white;
    margin-left: 19.3%;
    margin-top: 3%;

}
.why2 img{
    margin-top: 14%;
    margin-left: 13%;
}
.why2 h4{
    position: absolute;
    top: 25%;
    font-size: 1.5vw;
    left: 40%;
    font-family: okra light ;
    color: rgb(69, 105, 247);
}
.why2 h5{
    position: absolute;
    top: 55%;
    font-size: 1vw;
    left: 40%;
    font-family: okra light ;
    color: gray;
}
.why3{
    position: absolute;
    left: 44%;
    height: 15vh;
    width: 18vw;
    background-color: white;
    margin-left: 19.3%;
    margin-top: 3%;
}
.why3 img{
    margin-top: 14%;
    margin-left: 13%;
}
.why3 h4{
    position: absolute;
    top: 25%;
    font-size: 1.5vw;
    left: 40%;
    font-family: okra light ;
    color: rgb(69, 105, 247);
}
.why3 h5{
    position: absolute;
    top: 55%;
    font-size: 1vw;
    left: 40%;
    font-family: okra light ;
    color: gray;
}
.cards{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#how{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
}
#how h1{
    position: absolute;
    top: -18%;
    left: 12%;
  
}
#how img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    z-index: 1;
}

#how1{
    position: absolute;
    bottom: -35%;
    left: 20%;
    height: 43vh;
    width: 18vw;
    z-index: 2;
    background-color: white;
}
#how1 h2{
    margin-top: 5%;
    margin-left: 2%;
    color: black;
    font-weight: 600;
}
#how1 h4{
    margin-top: 5%;
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-family:okra light ;
    margin-left: 12%;
}
#how1 h5{
    align-items: center;
    display: flex;
    text-align: center;
    color: rgb(109, 108, 108);
    font-weight: 600;
    font-family:okra light ;
    font-weight: 100;
    margin-top: 3%;
    margin-left: 10%;
}
#how1i{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 26%;
    margin-top: 15%;
    object-fit: cover;
    height: 40%;
    width: 50%;
    border-radius: 50%;
    background-color: rgb(246, 156, 156);
}
#how11{
    height: 30%;
    width: 40%;
    border-radius: 50%;
}
#how2{
    position: absolute;
    bottom: -35%;
    height: 43vh;
    width: 18vw;
    z-index: 2;
    left: 41.5%;
    background-color: white;
}


#how2 h2{
    margin-top: 5%;
    margin-left: 2%;
    color: black;
    font-weight: 600;
}
#how2 h4{
    margin-top: 5%;
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-family:okra light ;
    margin-left: 11%;
}
#how2 h5{
    align-items: center;
    display: flex;
    text-align: center;
    color: rgb(109, 108, 108);
    font-weight: 600;
    font-family:okra light ;
    font-weight: 100;
    margin-top: 3%;
    margin-left: 12%;
}
#how2i{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 26%;
    margin-top: 15%;
    object-fit: cover;
    height: 40%;
    width: 50%;
    border-radius: 50%;
    background-color: rgb(244, 253, 189);
}
#how22{
    height: 30%;
    width: 40%;
    object-fit: cover;
    border-radius: 50%;
}
#how3{
    position: absolute;
    bottom: -35%;
    height: 43vh;
    width: 18vw;
    background-color: white;
    z-index: 2;
    left: 63%;
}

#how3 h2{
    margin-top: 5%;
    margin-left: 2%;
    color: black;
    font-weight: 600;
}
#how3 h4{
    margin-top: 5%;
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-family:okra light ;
    margin-left: 11%;
}
#how3 h5{
    align-items: center;
    display: flex;
    text-align: center;
    color: rgb(109, 108, 108);
    font-weight: 600;
    font-family:okra light ;
    font-weight: 100;
    margin-top: 3%;
    margin-left: 10%;
}
#how3i{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 26%;
    margin-top: 15%;
    object-fit: cover;
    height: 40%;
    width: 50%;
    border-radius: 50%;
    background-color: rgb(255, 235, 207);
}
#how33{
    height: 30%;
    width: 40%;
    border-radius: 50%;
}
#sug{
    position: relative;
    height: 60vh;
    display: flex;
    overflow: auto;
    width: 100%;
    background-color: black;
    margin-top: 20%;
    scroll-snap-type: x mandatory;
}
.corosol{
    scroll-snap-align: start;
    flex-shrink: 0;
   position: relative;
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
#imag{
    position: absolute;
    top: 10%;
    right: 12%;
    height: 80%;
    width: 37%;
    background-color: blueviolet;
}
#imag img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#sug h1{
    position: absolute;
    color: rgb(250, 241, 241);
    top: -7%;
    left: -15%;
}
#question{
    position: relative;
    margin-top: 5%;
    height: 80vh;
    width: 100%;
 
}
#question h1{
    position: absolute;
    left: 3.2%;
}
#ques{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 65%;
    left: 20%;
    height: 8vh;
    width: 60vw;
    
    border:none;
    
}

#cars{
    height: 10vh;
    width: 100vw;
}
#volvo{
    height: 10vh;
    width: 100vw;
    background-color: #ff3add;
}
#ques select{
    padding: 20px;
    width: 100%;
    outline: none;
    border: none;
}
#ques select *{
    outline: none;
    border: none;
    width: 100%;
    height: 50vh;
    padding: 20px;
    background: rgb(249, 249, 249);

}
#about{
    height: 50vh;
    width: 100%;
    position: relative;
    background-color: #000; 
    font-family: Bandeins Stange Variable;
    
}
#about h1{
    font-weight: Regular Extended Full;
    color: #fff;
    position: absolute;
    top: 30%;
}