*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
          font-family: 'aeon';
          src: url(../fonts/AEONIK-REGULAR.OTF);
          font-weight: 500;
}
@font-face {
          font-family: 'aeon';
          src: url(../fonts/AEONIK-MEDIUM.OTF);
          font-weight: 600;
}
@font-face {
          font-family: 'aeon';
          src: url(../fonts/AEONIK-LIGHT.OTF);
          font-weight: 400;
}
@font-face {
          font-family: 'aeon';
          src: url(../fonts/AEONIK-BOLD.OTF);
          font-weight: 700;
}
@font-face {
          font-family: 'aeon';
          src: url(../fonts/AEONIK-BLACK.OTF);
          font-weight: 900;
}
@font-face {
          font-family: 'aeon';
          src: url(../fonts/AEONIK-THIN.OTF);
          font-weight: 100;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-LIGHT.OTF);
          font-weight: 100;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-THIN.OTF);
          font-weight: 200;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-REGULAR.OTF);
          font-weight: 300;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-MEDIUM.OTF);
          font-weight: 400;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-SEMIBOLD.OTF);
          font-weight: 500;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-BOLD.OTF);
          font-weight: 600;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-EXTRABOLD.OTF);
          font-weight: 700;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-HEAVY.OTF);
          font-weight: 800;
}
@font-face {
          font-family: 'gilro';
          src: url(../fonts/gilroy/GILROY-BLACK.OTF);
          font-weight: 900;
}

html,body{
  user-select: none;
  height: 100%;
  width: 100%;
}
.main{
  user-select: none;
  height: 100%;
  width: 100%;
}
#box1{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}
#left{
  padding: 70px 90px;
  height: 100%;
  width: 50%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8%;
  width: 100%;
  
}
#lf{
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  height: 100%;
  width: 20%;
  z-index: 100;
  cursor: pointer;
}
#lf span{
  margin-top: -30%;
  margin-left: 0%;
  height: 80px;
  width: 80px;
}
#lf img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#lf span2{
  font-size: 1.3vw;
  font-family: cataline Script;
  font-weight: 550;
  color: rgb(72, 72, 72);
}
#lf h2{
  font-size: 1.3vw;
  font-family: gilroy;
  font-weight: 550;
  color: orange;
}
#text{
  margin-top: 20%;
  margin-left:6%;
}
#text h2{
  font-size: 1.5vw;
  font-family: gilroy;
  color: black;
  font-weight: 100;
  margin-top: 2%;
}
#text h1{
  font-size: 3vw;
  font-family: gilroy;
}
#text h1:nth-child(2){
  font-size: 3vw;
  font-family: gilroy;
  color: orange;
}
#order{
  cursor: pointer;
  margin-top: 10%;
  height: 5vh;
  width: 10vw;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px 22px 22px 22px;
  color: whitesmoke;

  background: orange;
  box-shadow:  0px 8px 43px rgb(249, 192, 85);
               
}
#rg{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}
#rg h2{
  cursor: pointer;
  margin-left: 10%;
  font-size: 1.3vw;
  font-family: gilroy;
  font-weight: 550;
  color: rgb(72, 72, 72);
}
#rg a{
  cursor: pointer;

  text-decoration: none;
  margin-right: 0%;
  white-space: nowrap;
  margin-left: 3%;
}
#right{
  position: relative;
  height: 100%;
  width: 50%;
  
}
#rec1{
  position: absolute;
  bottom: -40%;
  right: -16.5%;
  height: 70%;
  width: 120%;
  background-color: rgb(236, 154, 0);
  transform: rotate(-45deg);
  z-index: 1;
}
#rec2{
  position: absolute;
  overflow: hidden;
  top: 17%;
  left: 14%;
  height: 60%;
  width: 60%;
  background-color: rgb(56, 47, 30);
  transform: rotate(45deg);
  z-index: 1;
  border-radius: 22px 22px 22px 22px;
  box-shadow:  -22px 60px 100px rgb(238, 124, 124);
}
#rec2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#rec3{
  position: absolute;
  top: -30%;
  right: -35%;
  height: 60%;
  width: 80%;
  background-color: rgb(33, 240, 126);
  transform: rotate(45deg);
}
#rec3 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#rec4{
  position: absolute;
  top: -40%;
  right: 75%;
  height: 60%;
  width: 40%;
  background-color: orange;
  transform: rotate(-45deg);
  border-radius: 0px 3px 100px 50px;

}
#rec5{
  position: absolute;
  bottom: 2%;
  right: 88%;
  height: 40%;
  width: 25%;
  background-color: rgb(65, 63, 58);
  transform: rotate(-45deg);
  border-radius: 30px 30px 30px 0px;


  /* Created with https://www.css-gradient.com */
background: #FFFFFF;
background: -webkit-linear-gradient(bottom left, #FFFFFF, #FFA201);
background: -moz-linear-gradient(bottom left, #FFFFFF, #FFA201);
background: linear-gradient(bottom right, #FFFFFF, #FFA201);
}
#box2{
  height: 100vh;
  height: 100pxvw;
}
#log{
  display: none;
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(1, 0, 5, 0.546);
  z-index: 101;
}
#log1{
  position: absolute;
  overflow: hidden;
  transform: translateX(100%);
  /* right: 50%; */
  height: 100vh;
  width: 38vw;
  background-color: rgb(255, 255, 255);
  right: 0%;
  z-index: 1;
  /* margin-right: -50%; */
}

#log1 svg,#log2 svg{
  cursor: pointer;
margin-top: 6%;
margin-left: 6%;
}
#log1 h1{
  margin-left: 7%;
  font-size: 1.8vw;
  font-weight: 400;
  margin-top: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#log1 h2{
  margin-left: 7%;
  margin-top: 1%;
  font-size: 1vw;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#log1 h2 span{
  color: orange;
  font-size: 1vw;
  font-family: gilroy;
  cursor: pointer;
  font-weight: 900;
}
#line, #line2{
  height: 3px;
  width: 30px;
  border: 2px solid rgb(188, 187, 187);
  margin-left: 7%;
  margin-top: 3%;
}
#cir , #cir2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 55%;
  margin-top: -13%;
  border: 1px solid rgb(244, 239, 159);
}
#circ , #circ2{
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
}
#circ img,#circ2 img {
  height: 100%;
  width: 100%;
}
#log form{
  margin-top: 8%;
}
#log form>input{
  margin-left: 7%;
  height: 9vh;
  width: 23vw;
  border: 1px solid rgb(192, 192, 192);
  padding-left: 10px;
}
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7%;
  margin-top: 4%;
  cursor: pointer;
  height: 6vh;
  width: 23vw;
  border: 1px solid rgb(192, 192, 192);
  padding-left: 10px;
  background-color: #ff8d01;
}
#login h3{
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: -5%;
}
#log1 h5{
  color: gray;
  font-family: gilroy;
  margin-left: 7%;
  margin-top: 2%;
  
  font-weight: 100;
}
#log2{
  display: none;
  position: absolute;
  height: 100%;
  width: 38vw;
  background-color: rgb(255, 255, 255);
  right: 0;
  z-index: 5;
}
  #log2 h1{
    margin-left: 7%;
    font-size: 1.8vw;
    font-weight: 400;
    margin-top: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #log2 h2{
    margin-left: 7%;
    margin-top: 1%;
    font-size: 1vw;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #log2 h2 span{
    color: orange;
    font-size: 1vw;
    font-family: gilroy;
    cursor: pointer;
    font-weight: 900;
  }

  #log2 form{
    margin-top: 8%;
  }
  #log2 input{
    margin-left: 7%;
    height: 9vh;
    width: 23vw;
    border: 1px solid rgb(192, 192, 192);
    padding-left: 10px;
  }
  #continue {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7%;
    cursor: pointer;
    margin-top: 4%;
    height: 6vh;
    width: 23vw;
    border: 1px solid rgb(192, 192, 192);
    padding-left: 10px;
    background-color: #ff8d01;
  }
  #continue h3{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -5%;
  }
  #log2 h5{
    color: gray;
    font-family: gilroy;
    margin-left: 7%;
    margin-top: 2%;
    font-weight: 100;
  }
#cars {
  height: 50vh;
  width: 100vw;
  border: 1px solid black;
  background-color: #FFA201;
}

#hey{
  height: 50vh;
  width: 100vw;
  background-color: red;
}
#forgot{
  margin-left: 10vw;
  font-weight: 600;
  font-family: aeon;
  color:#24A0ED;
  margin-top: 1vw;
}
#forgot:hover{
  color:#077dc6;

}
a{
  
  text-decoration: none;
}
.google{

  width: 20vw;
  height: 2.8vw;
  border: 1px solid black;
  margin-left: 4vw;
  margin-top: 1vw;
  border-radius: 100px;
}
.google a{
  
  text-decoration: none;  
}
.google img{
  height: 1.5vw;
  margin-right: 1.5vw;
}
.googli{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google h4{
  font-weight: 600;
  font-family: aeon;
  color:#000;
}
.google .ripple{
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}


.psswd{
  width: 23vw;  
  height:56px;
  position: relative;
  margin-left: 7%;
  margin-top: 1vw;
  border: 1px solid rgba(198, 198, 198, 0.562);
  border-radius: 8px;
  overflow: hidden;
  /* background-color: aqua; */
}
.psswd .password {
  --background: #ffffff;
  --text-color: #414856;
  --border-radius: 8px;
  --width: 23vw;
  --height: 56px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  padding: 0 var(--height) 0 20px;
  position: relative;
  line-height: var(--height);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
}
.psswd .password .password-checkbox {
  position: absolute;
  width: var(--height);
  height: 100%;
  right: 0;
  top: 0;
  margin: 0;
  z-index: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
}
.psswd .password .monkey,
.psswd .password .monkey-hands {
  position: absolute;
  width: var(--height);
  height: 100%;
  right: 0;
  top: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.psswd .password .monkey svg,
.psswd .password .monkey-hands svg {
  height: calc(var(--height) - 20px);
  width: calc(var(--height) - 20px);
}
.psswd .password .monkey {
  cursor: pointer;
}
.psswd .password .monkey::before {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
  width: 3px;
  height: 0px;
  border-radius: 50%;
  top: 36px;
  border-bottom: 3px solid #3C302A;
}
.psswd .password .monkey-hands {
  z-index: 2;
  perspective: 80px;
  pointer-events: none;
}
.psswd .password .monkey-hands svg {
  transition: transform 0.2s ease-in, opacity 0.1s;
  transform-origin: 50% 100%;
}
.psswd .password .password-wrapper {
  /* overflow: hidden; */
  width: 23vw;  
  height:56px;
  position: relative;
}
.psswd .password .password-wrapper .password-input,
.password .password-wrapper .password-text,
.password .password-wrapper .password-dots {
  letter-spacing: 2px;
  color: var(--text-color);
}
.psswd .password .password-wrapper .password-input {
  width: 23vw;  
  height:56px;
  border: 0;
  outline: none;
  padding: 0;
  background: none;
  color: transparent;
}
.psswd .password .password-wrapper .password-input::-moz-selection {
  background: var(--background);
  color: var(--background);
}
.psswd .password .password-wrapper .password-input::selection {
  background: var(--background);
  color: var(--background);
}
.psswd .password .password-wrapper .password-text,
.psswd .password .password-wrapper .password-dots {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  line-height: var(--height);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.psswd .password .password-wrapper .password-text > span,
.psswd .password .password-wrapper .password-dots > span {
  transition: all 0.5s ease;
  display: inline-block;
  opacity: var(--opacity, 0);
}
.psswd .password .password-wrapper .password-text.cursor::after,
.psswd .password .password-wrapper .password-dots.cursor::after {
  content: "";
  width: 1px;
  height: 20px;
  -webkit-text-security: none;
  background: rgba(65, 72, 86, 0.5);
  opacity: var(--opacity, 0);
  display: inline-block;
  -webkit-animation: blink 0.75s linear infinite alternate;
          animation: blink 0.75s linear infinite alternate;
}
.psswd .password .password-wrapper .password-dots {
  letter-spacing: 6px;
  -webkit-text-security: disc;
  font-family: "text-security-disc";
}
.psswd .password.show .monkey-hands svg {
  transform: perspective(100px) rotateX(-90deg);
  perspective-origin: bottom;
  opacity: var(--opacity, 0);
  transition: transform 0.2s ease, opacity 0.1s 0.1s;
}
.psswd .password.show .monkey::before {
  content: "";
  border-radius: 45%;
  width: 9px;
  height: 6px;
  border: 0;
  border-bottom: 2px solid #3C302A;
  top: 30px;
}
.psswd .password.show .password-wrapper .password-text > span {
  -webkit-animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards;
          animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
.psswd .password.show .password-wrapper .password-text > span:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}
.psswd .password.show .password-wrapper .password-text.cursor > span {
  -webkit-animation: none;
          animation: none;
  opacity: var(--opacity, 1);
}
.psswd .password.show .password-wrapper .password-text.cursor > span:last-child {
  -webkit-animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards alternate;
          animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards alternate;
  opacity: var(--opacity, 0);
}
.psswd .password.show .password-wrapper .password-dots.cursor::after {
  display: none;
}
.psswd .password:not(.show) .password-wrapper .password-text.cursor::after {
  display: none;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span {
  -webkit-animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards alternate;
          animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards alternate;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
.psswd .password:not(.show) .password-wrapper .password-dots > span:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}
.psswd .password:not(.show) .password-wrapper .password-dots.cursor > span {
  -webkit-animation: none;
          animation: none;
  opacity: var(--opacity, 1);
}
.psswd .password:not(.show) .password-wrapper .password-dots.cursor > span:last-child {
  -webkit-animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards alternate;
          animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards alternate;
  opacity: var(--opacity, 0);
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  30% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  35% {
    transform: translateY(1px);
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  30% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  35% {
    transform: translateY(1px);
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes blink {
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}









